# Node dependencies
node_modules/

# Env files
.env
.env.local
frontend/.env
frontend/ios/
frontend/android/
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# React Native / Expo build files
.expo/
*.expo/
.expo-shared/
*.apk
*.aab